In [ ]:
# Importar Archivo

In [7]:
import pandas as pd
data = pd.read_csv("Datos_Clase1.csv")

In [19]:
data.head()

,#,Nombre,¿Por qué estás estudiando análitica estratégica de datos?,Sistema Operativo
0,1,Viviana Márquez,"Me gustan mucho las matemáticas, la programaci...",macOSx
1,2,Jorge Gomez,Desarrollo profesional y proyecto personal.,Windows x64
2,3,Ilvar Dario Sanabria,Muchas de las decisiones se basan en datos y c...,Windows x64
3,4,Camilo Rojas,Trabajo con temas relacionados a gestión de in...,Windows x64
4,5,Xiomy Díaz,En mi experiencia en investigación de mercados...,Windows x64

In [ ]:
#Contar el número de palabras por estudiante.

In [8]:
count = data['¿Por qué estás estudiando análitica estratégica de datos?'].str.split().apply(len)
data['Count'] = count

In [9]:
data.tail()

,#,Nombre,¿Por qué estás estudiando análitica estratégica de datos?,Sistema Operativo,Count
26,27,Juan Sebastian Cruz,Creo que los datos son y seran cada vez mas im...,Windows x64,23
27,28,Nadia Ñustes,Me gusta la analítica de datos y el valor que ...,Windows x64,15
28,29,Daileny Dorado Delgado,Me parece que la tecnología es lo que rige el ...,Windows x64,29
29,30,Andrés Martínez,Aprender de nuevas herramientas para el anális...,Windows x86,11
30,31,Alexandra Duarte M.,"Creo que es el futuro, me gusta y de cerca he ...",Windows x64,20

In [ ]:
#Palabra más utilizada

In [17]:
Text = ' '.join(data['¿Por qué estás estudiando análitica estratégica de datos?'])
Freq = pd.Series(Text.lower().split()).value_counts()

In [18]:
Freq [:25]

de              41
y               37
en              30
que             24
la              19
a               17
el              15
datos           14
para            14
me              13
mi              13
es              12
las             11
los             11
aprender        10
un               7
con              7
herramientas     7
profesional      7
mucho            7
valor            6
decisiones       6
información      5
una              5
gusta            5
dtype: int64